@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes pulse {
  0% { 
    
    opacity: 0;
 
    
  }

  100% { 
  

   }
}

@keyframes moveUp {
  from {
    margin-bottom: -1.25rem; /* Start at 0px from the bottom */
  }
  to {
    margin-bottom: initial; /* End at 150px from the bottom */
  }
}

.reaction-emoji-animation {
    animation: moveUp 0.3s ease-in-out ; /* Applies the animation */

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}


  .custom-scrollbar::-webkit-scrollbar {
    width: 9px; /* Width of the vertical scrollbar */
    
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 100vh;
    display: none;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 100vh;

  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
   
  }

   .custom-scrollbar::-webkit-scrollbar-button {
   display: none;
  }
  /* For Firefox support (basic color and width only) */
 


  /**/
.custom-scrollbar {
   scrollbar-width: 9px;
   
}

.custom-scrollbar-hidden {
   scrollbar-width: none
}

.my-slider-container .slick-slide {
  @apply max-w-30 mx-1
}
 
  
  







