@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes pulse {
  0% { opacity: 0.2; }

  100% { opacity: 1; }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

  .custom-scrollbar::-webkit-scrollbar {
    width: 9px; /* Width of the vertical scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 100vh;
    display: none;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 100vh;
    opacity: 0;
   
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
   
  }

   .custom-scrollbar::-webkit-scrollbar-button {
   display: none;
  }
  /* For Firefox support (basic color and width only) */
 


  /**/

  .no-scrollbar::-webkit-scrollbar {
    width: 0px; /* Width of the vertical scrollbar */
  }
  .no-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 100vh;
  }
  .no-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 100vh;
  }
  .no-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
  }
  /* For Firefox support (basic color and width only) */
  .no-scrollbar {
    scrollbar-width: none;
    scrollbar-color: #888 #f1f1f1;
   
  }







